@using BlazorLib

@inherits BlazorBusyComponentBaseModel

<div @key="@($"r1-{CurrentCommand.Id}")" class="input-group">
    <span class="input-group-text" id="basic-addon1">cmd [@CurrentCommand.Name]</span>
    
    <input @bind-value="@CurrentCommand.FileName" @bind-value:event="oninput" type="text" class="form-control" aria-label="FileName" aria-describedby="FileName" />
    <input @bind-value="@CurrentCommand.Arguments" @bind-value:event="oninput" type="text" class="form-control" aria-label="Arguments" aria-describedby="Arguments" />
    @if (IsEdited)
    {
        <button title="Сохранить изменения" disabled="@string.IsNullOrWhiteSpace(CurrentCommand.FileName)" @onclick="SaveRow" class="btn btn-outline-success" type="button">Сохранить</button>
        <button title="Отменить изменения" @onclick="CancelEdit" class="btn btn-outline-info" type="button">Отмена</button>
    }
    else if (IsBusyProgress)
    {
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span class="visually-hidden" role="status">Loading...</span>
        </button>
    }
    else
    {
        <button title="Выполнить команду на удалённом сервере" @onclick="RunCommand" class="btn btn-outline-primary" type="button">Выполнить</button>
        <button title="Удалить команду" @onclick="DeleteCommand" class="btn btn-outline-secondary" type="button">Удалить</button>
    }
</div>