services:
  rabbitmq:
    image: rabbitmq:management
    hostname: rabbitmq
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=debug
      - RABBITMQ_DEFAULT_PASS=debug
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbit log_levels [{connection,error},{default,error}] disk_free_limit 2147483648
    volumes:
      - ./docker-volumes/rabbitmq:/var/lib/rabbitmq
    ports:
      - 15672:15672
      - 5672:5672
      - 15671:15671
      - 15691:15691
      - 15692:15692
      - 25672:25672
      - 4369:4369
      - 5671:5671
      - 5670:5670
    ulimits:
      nofile:
        soft: 65536
        hard: 65536

  postgres:
    image: postgres
    hostname: postgres
    environment:
      POSTGRES_USER: "pg-user"
      POSTGRES_PASSWORD: "pg-pass"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - ./docker-volumes/postgresql:/var/lib/postgresql
      - /srv/db-backups:/srv/db-backups
      - /srv/tmp/dumps:/srv/tmp/dumps
    ports:
      - 5432:5432

  mongo:
    image: mongo
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=dev
      - MONGO_INITDB_ROOT_PASSWORD=dev
    volumes:
      - ./docker-volumes/mongodb:/data/db
      - /srv/db-backups:/srv/db-backups
      - /srv/tmp/dumps:/srv/tmp/dumps
    ports:
      - 27017:27017

  # mongo-express:
  #   image: mongo-express
  #   restart: always    
  #   depends_on:
  #     - mongo
  #   links:
  #     - mongo
  #   ports:
  #     - 8081:8081
  #   environment:
  #     ME_CONFIG_MONGODB_ADMINUSERNAME: dev
  #     ME_CONFIG_MONGODB_ADMINPASSWORD: dev
  #     ME_CONFIG_BASICAUTH_USERNAME: dev
  #     ME_CONFIG_BASICAUTH_PASSWORD: dev
  #     ME_CONFIG_MONGODB_URL: "mongodb://dev:dev@mongo:27017/"

  redis:
    image: redis
    restart: always
    volumes:
      - ./docker-volumes/redisdata:/data
      - /srv/tmp/dumps:/srv/tmp/dumps
      - /srv/db-backups:/srv/db-backups
    ports:
      - 6379:6379