@inherits StockSharpBaseComponent

<tr>
    <th scope="row" title="@Instrument.Name">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Instrument.Code">
    </th>
    <td><MudNumericField Immediate @bind-Value="BasePrice" Variant="Variant.Text" /></td>
    <td>
        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
            <button type="button" class="btn btn-outline-primary">buy</button>
            <button type="button" class="btn btn-outline-primary">sell</button>
        </div>
    </td>
    <td><input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example"></td>
    <td><input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example"></td>
    <td>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">L1</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm">L2</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
    </td>
    <td><button type="button" class="btn btn-primary btn-sm">Reset</button></td>
</tr>