@inherits BlazorBusyComponentBaseModel

@using MudBlazor

<MudDialog>
    <DialogContent>
        <select class="form-select" id="exampleInputStatusPayment" @bind="SelectedEncoding">
            @foreach (EncodingsEnum _sp in Enum.GetValues(typeof(EncodingsEnum)))
            {
                <option value="@_sp">@_sp.DescriptionInfo()</option>
            }
        </select>
        <MudSlider Max="DirectoryItem.FileSizeBytes" @bind-Value="ValueSlider">
            Value: @_valueSliderString / @FileSizeString ( @rawData?.Count )
        </MudSlider>
        <MudTextField Variant="Variant.Outlined"
                      @bind-Text="RawDataStart"
                      Label="Start RawData"
                      T="string"
                      Lines="7"
                      ReadOnly />
        <MudTextField Variant="Variant.Outlined"
                      @bind-Text="RawDataEnd"
                      Label="End RawData"
                      T="string"
                      Lines="7"
                      ReadOnly />
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">OK</MudButton>
    </DialogActions>
</MudDialog>