<div class="mt-2">
    <div class="mb-3">
        <label for="basic-url" class="form-label">Путь к папке с файлами</label>
        <div class="input-group">
            <input @bind-value="dirData" @bind-value:event="oninput" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
            <button @onclick=ScanDirectory class="btn btn-outline-secondary" type="button" id="button-addon2" disabled="@(IsValidList || string.IsNullOrWhiteSpace(dirData) || !Directory.Exists(dirData))">Scan</button>
        </div>
    </div>
</div>

@if (allFiles is not null)
{
    <ol>
        @foreach (string _ol in allFiles)
        {
            <li>
                @_ol @(uploadedFiles.Contains(_ol) ? "[done]" : "")
                @if (currentFilePart == _ol)
                {
                    <sup class="ms-2">@(Math.Round((double)Parser.CurrentNumRecord / (totalRecordsParts / 100), 2))% of @totalRecordsParts records</sup>
                }
            </li>
        }
    </ol>
    @if (IsValidList)
    {
        <div class="d-grid gap-2">
            <button disabled="@_isLoading" @onclick=Load class="btn btn-primary" type="button">Load</button>
        </div>
    }
}