@using BlazorLib.Components.Kladr.control.find
@using BlazorLib.Components.Kladr.main
@using MudBlazor

<div class="card mb-2">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-body-secondary">Отображение</h6>
        <MudChipSet @bind-SelectedValues="SelectedFieldsView" SelectionMode="SelectionMode.MultiSelection" CheckMark Variant="Variant.Text" Color="Color.Info">
            <MudChip Value="@(nameof(RootKLADRModelDB.CODE))" />

            <MudTooltip Text="Код территориального участка ИФНС">
                <MudChip Value="@(nameof(RootKLADRModelDB.UNO))" />
            </MudTooltip>
            <MudTooltip Text="Код ОКАТО">
                <MudChip Value="@(nameof(RootKLADRModelDB.OCATD))" />
            </MudTooltip>
            <MudTooltip Text="Код ИФНС">
                <MudChip Value="@(nameof(RootKLADRModelDB.GNINMB))" />
            </MudTooltip>
        </MudChipSet>
    </div>
</div>
<KladrFindInputComponent />
<CascadingValue Value="SelectedFieldsView">
    <QueryNavKladrComponent @ref="kladrRef" Parent="null" />
</CascadingValue>