<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Повторное подключение к серверу...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Повторная попытка подключения не удалась... повтор через <span id="components-seconds-to-next-attempt"></span> сек.
        </p>
        <p class="components-reconnect-failed-visible">
            Повторное подключение не удалось.<br />Пожалуйста, попробуйте еще раз или перезагрузите страницу.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Повторить попытку
        </button>
        <p class="components-pause-visible">
            Сервер приостановил сессию.
        </p>
        <button id="components-resume-button" class="components-pause-visible">
            Возобновить
        </button>
        <p class="components-resume-failed-visible">
            Возобновить сессию не удалось.<br />Пожалуйста, обновите страницу.
        </p>
    </div>
</dialog>
