@inherits BlazorBusyComponentBaseModel

<style>
    .list-group-item .link-primary, .list-group-item .link-info {
        cursor: pointer;
    }
</style>

@if (IsBusyProgress)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else if (EntriesElements is null)
{
    @* if (SelectedDirectoryId > 0)
    {
        <text>EntriesElements is null</text>
    } *@
}
else if (!EntriesElements.Any())
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Пусто.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            The <cite title="Create the first element of the directory">reference book contains no elements</cite>
        </figcaption>
    </figure>
}
else
{
    <ul class="list-group list-group-flush">
        <CascadingValue Value="this">
            @foreach (EntryStandardModel e in EntriesElements)
            {
                <CascadingValue Value="e">
                    <ElementDirectoryFieldSetComponent SelectedDirectoryId="SelectedDirectoryId" />
                </CascadingValue>
            }
        </CascadingValue>
    </ul>
}