@layout MainLayout
@inherits LayoutComponentBase

<h1>Set up your account</h1>

<div>
    <h2>Editing your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <AccountManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>