@inherits BlazorBusyComponentBaseModel
<h3>Rusklimat</h3>
<div class="d-grid gap-2">
    <div class="d-grid gap-2">
        <button disabled="@IsBusyProgress" @onclick="Download" class="btn btn-primary" type="button">
            @if (IsBusyProgress)
            {
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            }
            <span class="@(IsBusyProgress ? "ms-2" : "")" role="status">@(IsBusyProgress ? "Загружается ..." : "Загрузить")</span>
        </button>
    </div>
</div>

