<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom:0;">
        @foreach (string _el in _items.Skip(SkipBreadcrumbs))
        {
            <li class="breadcrumb-item">
                <MudHighlighter Text="@_el" HighlightedText="@HighlightedText" />
            </li>
        }
        @if (SelectionHandler is not null)
        {
            <li @onclick="() => SelectionHandler(KladrRow)" class="breadcrumb-item active link-info link-underline-info text-decoration-underline" aria-current="page" style="cursor:pointer;">
                выбрать
            </li>
        }
    </ol>
</nav>