<div class="form-floating mb-3">
    <input type="password"
           @bind-value="Input.Password"
           @bind-value:event="oninput"
           class="form-control"
           autocomplete="new-password"
           aria-required="true"
           placeholder="password" />
    <label for="password">Пароль</label>
</div>
<div class="form-floating mb-3">
    <input type="password"
           @bind-value="Input.ConfirmPassword"
           @bind-value:event="oninput"
           class="form-control"
           autocomplete="new-password"
           aria-required="true"
           placeholder="password" />
    <label for="confirm-password">Repeat Password</label>
</div>
<button type="button" class="w-100 btn btn-lg btn-primary" disabled="@(string.IsNullOrWhiteSpace(Input.Password) || Input.Password != Input.ConfirmPassword)">set new password</button>
@code {
    [Parameter, EditorRequired]
    public required string OwnerId { get; set; }

    PasswordBaseModel Input { get; set; } = new();
}