@page "/documents-journal/{DocumentNameOrId}"
@page "/documents-journal"

@using BlazorLib.Components
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inherits BlazorBusyComponentBaseModel

<h3>Документы</h3>

<JournalUniversalComponent DocumentNameOrIdType="@DocumentNameOrId" ProjectId="ProjectId" ShowNavigation />
@code{
    /// <summary>
    /// Тип документа
    /// </summary>
    [Parameter]
    public string? DocumentNameOrId { get; set; }

    /// <summary>
    /// ProjectId
    /// </summary>
    [Parameter, SupplyParameterFromQuery]
    public int? ProjectId { get; set; }
}