@using MudBlazor
@inherits BlazorBusyComponentBaseModel

<div class="vstack gap-3">
    @if (IsBusyProgress)
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" />
    }
    else
    {
        <RubricInputComponent SelectRubricsHandle="RubricSelectAction"
                              ModeSelectingRubrics=ModeSelectingRubrics
                              RubricInitial="@(_rubricSelected ?? 0)"
                              ContextName="@KeyStorage.ContextName"
                              Title="@Label"
                              ShowDisabledRubrics />
    }
</div>

@if (!string.IsNullOrWhiteSpace(HelperText))
{
    <div class="form-text">
        @HelperText
    </div>
}