@using BlazorLib.Components.Constructor.DirectoriesCatalog
@using MudBlazor

<MudIconButton Icon="@Icons.Custom.Uncategorized.Radioactive"
               aria-label="Radioactive"
               title="Свойства группы"
               Color="@(IsOpenDialog ? Color.Info:Color.Default)"
               OnClick="() => IsOpenDialog = !IsOpenDialog"
               Size="Size.Small" />
@if (IsOpenDialog)
{
    <div @onclick:stopPropagation="true"
         @onclick:preventDefault="true"
         @ondblclick:stopPropagation="true"
         @ondblclick:preventDefault="true"
         @onclick="() => IsOpenDialog = false"
         class="modal fade show"
         id="exampleModalXl"
         tabindex="-1"
         aria-labelledby="exampleModalXlLabel"
         style="display: block;"
         aria-modal="true"
         role="dialog">
        <div @onclick:stopPropagation="true"
             @onclick:preventDefault="true"
             @ondblclick:stopPropagation="true"
             @ondblclick:preventDefault="true"
             class="modal-dialog modal-xl"
             style="cursor: auto;">
            <div @onclick:stopPropagation="true"
                 @onclick:preventDefault="true"
                 @ondblclick:stopPropagation="true"
                 @ondblclick:preventDefault="true"
                 class="modal-content">
                <div @onclick:stopPropagation="true"
                     @onclick:preventDefault="true"
                     @ondblclick:stopPropagation="true"
                     @ondblclick:preventDefault="true"
                     class="modal-header">
                    <h5 class="modal-title fs-4" id="exampleModalXlLabel">Свойства группы</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                            @onclick="() => IsOpenDialog = false"
                            @onclick:stopPropagation="true"
                            @onclick:preventDefault="true"
                            @ondblclick:stopPropagation="true"
                            @ondblclick:preventDefault="true"></button>
                </div>
                <div @onclick:stopPropagation="true"
                     @onclick:preventDefault="true"
                     @ondblclick:stopPropagation="true"
                     @ondblclick:preventDefault="true"
                     class="modal-body">
                    <MudTabs Elevation="2" Rounded ApplyEffectsToContainer TabPanelsClass="pa-1">
                        <MudTabPanel Text="Поля">
                            <RubricFieldsManageComponent ProjectId="ProjectId" />
                        </MudTabPanel>
                        <MudTabPanel Text="Списки">
                            <DirectoryViewComponent ProjectId="ProjectId" ReloadHandler="ReloadAction" />
                        </MudTabPanel>
                    </MudTabs>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public required int ProjectId { get; set; }


    bool IsOpenDialog { get; set; }

    void ReloadAction()
    {

    }
}