@using BlazorLib
@using SharedLib

@inherits BlazorBusyComponentBaseModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            База данных
            @if (IsBusyProgress)
            {
                <sup class="spinner-grow spinner-grow-sm text-success ps-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </sup>
            }
            else
            {
                <sup @onclick="ReloadData" class="bi bi-arrow-clockwise ps-2" style="cursor:pointer;" title="Обновить информацию?"></sup>
            }
        </h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">TEMP</th>
                    <th scope="col">PROD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">KLADR</th>
                    <td>@tmp?.ObjectsCount</td>
                    <td>@prod?.ObjectsCount</td>
                </tr>
                <tr>
                    <th scope="row">STREET</th>
                    <td>@tmp?.StreetsCount</td>
                    <td>@prod?.StreetsCount</td>
                </tr>
                <tr>
                    <th scope="row">DOMA</th>
                    <td>@tmp?.DomaCount</td>
                    <td>@prod?.DomaCount</td>
                </tr>
                <tr>
                    <th scope="row">NAMEMAP</th>
                    <td>@tmp?.NamesCount</td>
                    <td>@prod?.NamesCount</td>
                </tr>
                <tr>
                    <th scope="row">SOCRBASE</th>
                    <td>@tmp?.SocrbasesCount</td>
                    <td>@prod?.SocrbasesCount</td>
                </tr>
                <tr>
                    <th scope="row">ALTNAMES</th>
                    <td>@tmp?.AltnamesCount</td>
                    <td>@prod?.AltnamesCount</td>
                </tr>
            </tbody>
        </table>
        <MudButton OnClick="TransitData"
                   Disabled="(IsBusyProgress || tmp is null ||  tmp.DomaCount == 0 ||  tmp.StreetsCount == 0||  tmp.ObjectsCount == 0)"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   FullWidth="true">Транзит данных</MudButton>
        <MudButton OnClick="ClearTempTables"
            Class="mt-1"
                   Disabled="IsBusyProgress"
                   Variant="Variant.Filled"
                   Color="Color.Surface"
                   FullWidth="true">Clear</MudButton>
    </div>
</div>
