@using BlazorLib

@inherits BlazorBusyComponentBaseModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Temporary</th>
            <th scope="col">Production</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">KLADR</th>
            <td>@tmp?.ObjectsCount</td>
            <td>@prod?.ObjectsCount</td>
        </tr>
        <tr>
            <th scope="row">STREET</th>
            <td>@tmp?.StreetsCount</td>
            <td>@prod?.StreetsCount</td>
        </tr>
        <tr>
            <th scope="row">DOMA</th>
            <td>@tmp?.DomaCount</td>
            <td>@prod?.DomaCount</td>
        </tr>
        <tr>
            <th scope="row">NAMEMAP</th>
            <td>@tmp?.NamesCount</td>
            <td>@prod?.NamesCount</td>
        </tr>
        <tr>
            <th scope="row">SOCRBASE</th>
            <td>@tmp?.SocrbasesCount</td>
            <td>@prod?.SocrbasesCount</td>
        </tr>
        <tr>
            <th scope="row">ALTNAMES</th>
            <td>@tmp?.AltnamesCount</td>
            <td>@prod?.AltnamesCount</td>
        </tr>
    </tbody>
</table>
<MudButton OnClick="TransitData"
           Disabled="(IsBusyProgress || tmp is null ||  tmp.DomaCount == 0 ||  tmp.StreetsCount == 0||  tmp.ObjectsCount == 0)"
           Variant="Variant.Filled"
           Color="Color.Primary"
           FullWidth="true">Транзит данных</MudButton>