@* @using Ecng.Common;
@using StockSharp.BusinessEntities;
@using StockSharp.Messages; *@
@using BlazorLib
@using SharedLib;
@using System.Net;
@using System.Security;

@inherits BlazorBusyComponentBaseModel

<h3>TestComponent</h3>
@* <MudStack Row="true">
    <MudSelect T="Portfolio" @bind-Value="selectedPortfolio" Label="Портфель" Variant="Variant.Outlined">
        @if (myPortfolios is not null && myPortfolios.Count() != 0)
        {
            @foreach (Portfolio p in myPortfolios.ToArray())
            {
                <MudSelectItem T="Portfolio" Value="p">
                    @p
                </MudSelectItem>
            }
        }
    </MudSelect>

    @if (IncomingDataProgress)
    {
        <MudTextField Value="statusLoadText" Label="Получение данных..." Variant="Variant.Outlined" ReadOnly></MudTextField>
    }
    else
    {
        <MudSelect @bind-Value="selectedBoard" Label="Площадка" Variant="Variant.Outlined">
            @if (mySecurities is not null && mySecurities.Count() != 0)
            {
                @foreach (string s in mapSecurities.Select(x => x.Key).ToArray())
                {
                    <MudSelectItem Value="s">
                        @s [@mapSecurities[s].Count]
                    </MudSelectItem>
                }
            }
        </MudSelect>

        <MudSelect T="EntryAltModel" @bind-Value="selectedTool" Label="Инструмент" Variant="Variant.Outlined">
            @if (selectedBoard is not null && !string.IsNullOrWhiteSpace(selectedBoard))
            {
                @foreach (EntryAltModel s in mapSecurities[selectedBoard].ToArray())
                {
                    <MudSelectItem T="EntryAltModel" Value="s">
                        @s.Name [@s.Id]
                    </MudSelectItem>
                }
            }
            else
            {
                selectedTool = null;
            }
        </MudSelect>
        @if (!string.IsNullOrWhiteSpace(selectedTool?.Id))
        {
            <MudNumericField @bind-Value="DecimalValue" Label="Цена" Variant="Variant.Outlined" Immediate />
            <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Add" OnClick="NewOrder" Disabled="@(DecimalValue <= 0 || selectedPortfolio is null)" />
        }
    }
</MudStack> *@