@using BlazorWebLib.Components.Kladr.main
@using MudBlazor

<QueryNavKladrComponent @ref="kladrRef" Parent="null" />

<div class="card">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-body-secondary">Отображение</h6>
        <MudChipSet @bind-SelectedValues="SelectedFieldsView" SelectionMode="SelectionMode.MultiSelection" CheckMark Variant="Variant.Text" Color="Color.Info">
            <MudChip Value="@(nameof(RootKLADRModelDB.UNO))" />
            <MudChip Value="@(nameof(RootKLADRModelDB.CODE))" />
            <MudChip Value="@(nameof(RootKLADRModelDB.OCATD))" />
            <MudChip Value="@(nameof(RootKLADRModelDB.GNINMB))" />
        </MudChipSet>
    </div>
</div>