@using MudBlazor
@using static SharedLib.GlobalStaticConstantsRoutes
@inherits BlazorBusyComponentBaseAuthModel

<MudTabs Elevation="2" Rounded ApplyEffectsToContainer PanelClass="pa-2">
    <MudTabPanel Text="Настройки">
        <CascadingValue Value="GetMode">
            <NomenclatureEditComponent NomenclatureId="NomenclatureId" />
        </CascadingValue>
    </MudTabPanel>
    <AuthorizeView Roles="@GlobalStaticConstantsRoles.Roles.Admin">
        <Authorized>
            <MudTabPanel Text="Заказы">
                <OrdersJournalComponent NomenclatureFilter="NomenclatureId" />
            </MudTabPanel>
            <MudTabPanel Disabled="@(NomenclatureId < 1 || IsBusyProgress)" Text="Категории">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Категории</h6>
                        <RubricsManageComponent TEntity="RubricNodeBodyComponent"
                                                ContextName="@($"{Routes.GOODS_CONTROLLER_NAME}-{Routes.CATEGORIES_CONTROLLER_NAME}")"
                                                SelectedValuesChanged="@(new TreeViewOptionsHandler() { SelectedNodes = SelectedNodesRead(), SelectedValuesChangedHandler = SelectedRubricsChange })" />
                    </div>
                </div>
            </MudTabPanel>
        </Authorized>
    </AuthorizeView>
</MudTabs>

@code {
    /// <summary>
    /// NomenclatureId
    /// </summary>
    [Parameter, EditorRequired]
    public int NomenclatureId { get; set; }

    /// <summary>
    /// ViewMode
    /// </summary>
    [Parameter]
    public string? ViewMode { get; set; }

    OffersListModesEnum GetMode => string.IsNullOrWhiteSpace(ViewMode) || !Enum.TryParse(typeof(OffersListModesEnum), ViewMode, out object? pvm) ? OffersListModesEnum.Goods : (OffersListModesEnum)pvm;
    int[] SelectedNodesRead() => [];//orignArticle?.RubricsJoins?.Select(x => x.RubricId).ToArray() ?? [];

    async void SelectedRubricsChange(IReadOnlyCollection<UniversalBaseModel?> req)
    {
        //if (editArticle?.RubricsJoins is not null && !req.Any(x => !editArticle!.RubricsJoins.Any(y => y.RubricId == x?.Id)) && !editArticle.RubricsJoins.Any(x => !req.Any(y => y?.Id == x.RubricId)))
        //    return;

        //await SetBusyAsync();
        //ResponseBaseModel res = await ArticlesRepo.UpdateRubricsForArticleAsync(new() { ArticleId = ArticleId, RubricsIds = [.. req.Select(x => x!.Id)] });
        //await LoadArticleData();
        //await SetBusyAsync(false);
        //SnackBarRepo.ShowMessagesResponse(res.Messages);
    }
}
