[Unit]
Description=api-daichi-business-service.app.stage.service

[Service]
WorkingDirectory=/srv/services.stage/ApiDaichiBusinessService
ExecStart=/usr/bin/dotnet /srv/services.stage/ApiDaichiBusinessService/ApiDaichiBusinessService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-api-daichi-business-service.stage
User=www-data
Environment=DOTNET_ENVIRONMENT=Staging
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=TransmissionQueueNamePrefix=_stage

[Install]
WantedBy=multi-user.target