[Unit]
Description=api-rusklimat-com-service.app.service

[Service]
WorkingDirectory=/srv/services/ApiRusklimatComService
ExecStart=/usr/bin/dotnet /srv/services/ApiRusklimatComService/ApiRusklimatComService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-api-rusklimat-com-service
User=www-data
Environment=DOTNET_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target