[Unit]
Description=api-breez-ru-service.app.service

[Service]
WorkingDirectory=/srv/services/ApiBreezRuService
ExecStart=/usr/bin/dotnet /srv/services/ApiBreezRuService/ApiBreezRuService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-api-breez-ru-service
User=www-data
Environment=DOTNET_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target