[Unit]
Description=feeds-haier-proff-ru-service.app.stage.service

[Service]
WorkingDirectory=/srv/services.stage/FeedsHaierProffRuService
ExecStart=/usr/bin/dotnet /srv/services.stage/FeedsHaierProffRuService/FeedsHaierProffRuService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-feeds-haier-proff-ru-service.stage
User=www-data
Environment=DOTNET_ENVIRONMENT=Staging
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=TransmissionQueueNamePrefix=_stage

[Install]
WantedBy=multi-user.target