[Unit]
Description=feeds-haier-proff-ru-service.app.service

[Service]
WorkingDirectory=/srv/services/FeedsHaierProffRuService
ExecStart=/usr/bin/dotnet /srv/services/FeedsHaierProffRuService/FeedsHaierProffRuService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-feeds-haier-proff-ru-service
User=www-data
Environment=DOTNET_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target