[Unit]
Description=filesindexing.app.service

[Service]
WorkingDirectory=/srv/services/FilesIndexingService
ExecStart=/usr/bin/dotnet /srv/services/FilesIndexingService/FilesIndexingService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-filesindexing-app
User=www-data
Environment=DOTNET_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target