[Unit]
Description=indexing.app.stage.service

[Service]
WorkingDirectory=/srv/services.stage/IndexingService
ExecStart=/usr/bin/dotnet /srv/services.stage/IndexingService/IndexingService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-indexing-app.stage
User=www-data
Environment=DOTNET_ENVIRONMENT=Staging
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=TransmissionQueueNamePrefix=_stage

[Install]
WantedBy=multi-user.target