[Unit]
Description=kladr.app.service

[Service]
WorkingDirectory=/srv/services/KladrService
ExecStart=/usr/bin/dotnet /srv/services/KladrService/KladrService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-kladr-app
User=www-data
Environment=DOTNET_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target