[Unit]
Description=kladr.app.stage.service

[Service]
WorkingDirectory=/srv/services.stage/KladrService
ExecStart=/usr/bin/dotnet /srv/services.stage/KladrService/KladrService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-kladr-app.stage
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Staging
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=TransmissionQueueNamePrefix=_stage

[Install]
WantedBy=multi-user.target