[Unit]
Description=realtime.app.stage.service

[Service]
WorkingDirectory=/srv/services.stage/RealtimeService
ExecStart=/usr/bin/dotnet /srv/services.stage/RealtimeService/RealtimeService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-realtime-app.stage
User=www-data
Environment=DOTNET_ENVIRONMENT=Staging
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=TransmissionQueueNamePrefix=_stage

[Install]
WantedBy=multi-user.target