@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<MudExpansionPanels>
    <MudExpansionPanel MaxHeight="1000" ExpandedChanged="OnExpandedChanged" Disabled="@(CurrentOrganization.Id < 1)">
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                <MudText>
                    Основной р/с:
                    @if (CurrentOrganization.Id < 1)
                    {
                        <span>недоступен. объект организации не записан</span>
                    }
                    else if (CurrentOrganization.BanksDetails?.Count == 0)
                    {
                        <span>отсутствует</span>
                    }
                </MudText>
            </div>
        </TitleContent>
        <ChildContent>
            @if (CurrentOrganization.BanksDetails is null)
            {
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>Счета не загружены.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Данные по <cite title="CurrentOrganization.BansDetails is null">банковским счетам</cite> не загружены
                    </figcaption>
                </figure>
            }
            else if (CurrentOrganization.BanksDetails.Count == 0)
            {
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>Нет ни одного счёта.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Добавьте организации <cite title="расчётный счёт">банковский счёт</cite>
                    </figcaption>
                </figure>
                <BankDetailsEditComponent BankDetails="BankDetailsModelDB.BuildEmpty(CurrentOrganization)" />
            }
            else if (IsExpanded)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Счёт</th>
                            <th scope="col">Банк</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BankDetailsModelDB bank in CurrentOrganization.BanksDetails)
                        {
                            <tr>
                                <td>@bank.CurrentAccount</td>
                                <th scope="row">@bank.Name</th>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>