@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<div class="card">
    <div class="card-body">
        @if (BankDetails.OrganizationId < 1)
        {
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>Объект не записан.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Запишите организацию <cite title="CurrentOrganization.BansDetails is null">для добавления реквизитов</cite>
                </figcaption>
            </figure>
        }
        else if (bankDetailsEdit is null)
        {
            
        }
        else
        {
            <div class="mb-2">
                <label for="inputCurrentAccount" class="form-label">Расчетный счет</label>
                <input @bind-value="BankDetails.CurrentAccount" @bind-value:event="oninput" type="text" id="inputCurrentAccount" class="form-control" aria-describedby="currentAccountHelpBlock">
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label for="inputBankName" class="form-label">Банк</label>
                    <input @bind-value="BankDetails.Name" @bind-value:event="oninput" type="text" id="inputBankName" class="form-control" aria-describedby="bankNameHelpBlock">
                </div>
                <div class="col-md-4">
                    <label for="inputBankBIC" class="form-label">БИК</label>
                    <input @bind-value="BankDetails.BankBIC" @bind-value:event="oninput" type="text" id="inputBankBIC" class="form-control" aria-describedby="bankBICHelpBlock">

                </div>
                <div class="col-md-4">
                    <label for="inputCorrespondentAccount" class="form-label">Корр. счет</label>
                    <input @bind-value="BankDetails.CorrespondentAccount" @bind-value:event="oninput" type="text" id="inputCorrespondentAccount" class="form-control" aria-describedby="correspondentAccountHelpBlock">
                </div>
                @* <MudSwitch @bind-Value="BankDetails.IsDisabled" Label="Отключение" Color="Color.Success" /> *@
            </div>
        }
    </div>
</div>