@using BlazorLib.Components.Kladr.control.input
@using BlazorWebLib.Components.HelpDesk
@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Офис `@OfficeCurrent?.Organization?.Name`<sup class="ms-1"><a class="card-subtitle mb-2 text-body-secondary" href="/organizations/edit/@OfficeCurrent?.OrganizationId" title="в карточку компании">вернуться</a></sup></h5>

        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
            <MudTabPanel Text="Параметры">
                @if (IsBusyProgress || OfficeEdit is null)
                {
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
                }
                else
                {
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">Филиал</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudStack>
                                <RubricInputComponent ContextName="@GlobalStaticConstantsRoutes.Routes.ADDRESS_CONTROLLER_NAME"
                                                      SelectRubricsHandle="RubricSelectAction"
                                                      RubricInitial="OfficeEdit.ParentId"
                                                      ShowDisabledRubrics="false"
                                                      @ref="rubricSelector_ref"
                                                      Title="Тип офиса"/>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="nameFormControlInput1" class="form-label">Название</label>
                                        <input @bind-value:event="oninput" @bind-value="OfficeEdit.Name" type="text" class="form-control" id="nameFormControlInput1" placeholder="Наименование">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="telFormControlInput" class="form-label">Контакты</label>
                                        <input @bind-value:event="oninput" @bind-value="OfficeEdit.Contacts" type="tel" class="form-control" id="telFormControlInput" placeholder="Номер телефона, email...">
                                    </div>
                                </div>
                                <KladrInputComponent @bind-KladrObject="SelectedKladrObject" />
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">уточнение адреса (если требуется)</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" @oninput="HandleOnChange">@OfficeEdit.AddressUserComment</textarea>
                                </div>
                            </MudStack>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Disabled="!CanSave" OnClick="SaveOffice" Variant="Variant.Text" Color="Color.Success">Сохранить</MudButton>
                            <MudButton Disabled="!CanSave" OnClick="ResetEdit" Variant="Variant.Text" Color="Color.Primary">Отмена</MudButton>
                        </MudCardActions>
                    </MudCard>
                }
            </MudTabPanel>
            <MudTabPanel Text="Заказы">
                <OrdersJournalComponent AddressForOrganization="AddressForOrganization" />
            </MudTabPanel>
        </MudTabs>
    </div>
</div>