@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using BlazorLib.Components.Documents.Forms
@using MudBlazor

@inherits TTabOfDocumenBaseComponent

@if (IsBusyProgress || _readed_tab_id != TabOfDocument.Id)
{
    <span>Loading...</span>
}
else
{
    <MudCard>
        <MudCardContent id="@($"tab:{ID}")">
            @{
                int i = -1;
            }
            @foreach (FormFitModel form_metadata in TabMetadata.Forms)
            {
                i++;
                FormToTabJoinConstructorModelDB _join_form = TabOfDocument.JoinsForms![i];
                List<ValueDataForSessionOfDocumentModelDB>? _sv = SessionValues?.Where(x => x.JoinFormToTab!.FormId == _join_form.FormId).ToList();
                _join_form = TabOfDocument.JoinsForms![i];

                @if (form_metadata.IsTable)
                {
                    <TableFormOfTabConstructorComponent DocumentKey="DocumentKey"
                                                        SessionValues="_sv"
                                                        ID="@($"[teble]{ID}>{form_metadata.SystemName}")"
                                                        FormMetadata="form_metadata"
                                                        Join="_join_form"
                                                        TabMetadata="TabMetadata" />
                }
                else
                {
                    <FormOfTabConstructorComponent DocumentKey="DocumentKey"
                                                   ID="@($"{ID}>{form_metadata.SystemName}")"
                                                   TabMetadata="TabMetadata"
                                                   FormMetadata="form_metadata"
                                                   Join="_join_form"
                                                   FormsStack="FormsStack"
                                                   Tab="Tab"
                                                   Session="Session"
                                                   SessionValues="SessionValues"
                                                   FormChangeAction="FormChangeEvent" ParentForm="ParentForm" />
                }
            }
        </MudCardContent>
    </MudCard>
}