@page "/web-app-tg/{TokenAccess}"

@using BlazorLib.Components.HelpDesk
@using BlazorLib.Components.Shared.Layouts
@using MudBlazor

@layout WithoutMenuLayout

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@attribute [AllowAnonymous]

<h3>Telegram WebApp page</h3>

<AuthorizeView>
    <Authorized>
        <MyHelpDeskComponent />
    </Authorized>
    <NotAuthorized>
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
    </NotAuthorized>
</AuthorizeView>

@code {
    /// <summary>
    /// TokenAccess
    /// </summary>
    [Parameter]
    public string? TokenAccess { get; set; }
}
