<span>x @Orders.Count</span>

@code {
    /// <summary>
    /// Заказы (документы)
    /// </summary>
    [Parameter,EditorRequired]
    public required List<RetailOrderDeliveryLinkModelDB> Orders { get; set; }
}