@using BlazorLib.Components.Telegram

<div class="card">
    <div class="card-body">
        <h5 class="card-title">TelegramBot</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Routing incoming messages</h6>
                <ChatSelectComponent Title="Telegram message forwarding for client"
                                     KeyStorage="GlobalStaticCloudStorageMetadata.HelpDeskNotificationsTelegramForUser(Chat.ChatTelegramId)"
                                     Hint="Rule for all incoming messages to the bot that will come from the client. Commands and CallbackQuery are not forwarded!" />
            </li>
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Service Status</h6>
                <ErrorMessageTelegramBotComponent ChatId="Chat.ChatTelegramId" />
                <div class="form-text">
                    If the bot is deleted or blocked in the chat, then its attempts to send a message there will end with an error.
                </div>
            </li>
        </ul>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public required ChatTelegramModelDB Chat { get; set; }
}