@inherits BlazorBusyComponentBaseModel

@using MudBlazor

<br />
@if (IsBusyProgress)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    if (!IsEditMode)
    {
        <MudButton Href="/create-order" Variant="Variant.Filled" Color="Color.Primary" FullWidth Class="mb-2">New order</MudButton>
        @if (_showCreateIssue)
        {
            <MudButton OnClick="ToggleMode" Variant="Variant.Filled" Color="Color.Primary" FullWidth>New issue</MudButton>
        }
    }
    else
    {
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">New issue</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Disabled="IsBusyProgress" OnClick="ToggleMode" Icon="@Icons.Material.Filled.Close" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudStack>
                    <RubricInputComponent ModeSelectingRubrics=ModeSelectingRubrics
                                          ShowDisabledRubrics="ShowDisabledRubrics"
                                          SelectRubricsHandle="RubricSelectAction" />
                    <div>
                        <label for="inputName" class="form-label">Theme of issue</label>
                        <input @bind-value="Name" @bind-value:event="oninput" type="text" id="inputName" class="form-control" placeholder="Subject">
                    </div>
                    <InputRichTextComponent @bind-Value="Description" ReadOnly="IsBusyProgress" />
                </MudStack>
            </MudCardContent>
            <MudCardActions>
                <MudButton Disabled="(IsBusyProgress || !CanCreate)" OnClick="CreateIssue" Variant="Variant.Text" Color="Color.Success">Create</MudButton>
                <MudButton Disabled="IsBusyProgress" OnClick="ToggleMode" Variant="Variant.Text" Color="Color.Primary">Cancel</MudButton>
            </MudCardActions>
        </MudCard>
    }
}