@using BlazorLib.Components.ParametersShared
@using BlazorLib.Components.Commerce
@using BlazorLib.Components
@using BlazorLib
@using BlazorLib.Components.Shared
@using MudBlazor
@using SharedLib

<MudTabs Elevation="2" Rounded ApplyEffectsToContainer PanelClass="pa-2">
    <MudTabPanel Text="Home">
        <StringParameterStorageComponent Label="Title" HelperText="Text in the upper left corner" KeyStorage="GlobalStaticCloudStorageMetadata.TitleMain" />
        <hr />
        <TinyMCEComponent Label="Home PUBLIC" HelperText="Public page for NOT authorized users" KeyStorage="GlobalStaticCloudStorageMetadata.HomePagePublic" />
        <hr />
        <TinyMCEComponent Label="Home PRIVATE" HelperText="Page for authorized users" KeyStorage="GlobalStaticCloudStorageMetadata.HomePagePrivate" />
    </MudTabPanel>
    <MudTabPanel Text="Other">
        <ul class="list-group list-group-flush">
            <li class="list-group-item my-2">
                <div class="row row-cols-1 row-cols-md-2 g-1">                    
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <RubricParameterStorageComponent Label="Rubric for new booking" HelperText="Automatic assignment of a category when booking a service/booking" KeyStorage="GlobalStaticCloudStorageMetadata.RubricIssueForCreateAttendanceOrder" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <BoolSimpleStorageComponent StorageMetadata="GlobalStaticCloudStorageMetadata.GlobalEnable2FA" Title="Global two-factor authentication" Label="2FA" HintTrue="2fa is forced on for everyone" HintFalse="2fa for each user individually" />
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item my-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">WAPPI (WhatsApp)</h6>
                        <BoolSimpleStorageComponent StorageMetadata="GlobalStaticCloudStorageMetadata.ParameterEnabledWappi" Title="Activate Wappi" Label="Activating Wappi messaging service" HintTrue="Wappi is on - messages are sent" HintFalse="Disabled: Messages will not be sent via Wappi" />
                        <hr />
                        <div class="vstack gap-3">
                            <div class="row row-cols-1 row-cols-md-2 g-1">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            <StringParameterStorageComponent IsPassword Label="Token API" HelperText="https://wappi.pro/dashboard" KeyStorage="GlobalStaticCloudStorageMetadata.WappiTokenApi" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            <StringParameterStorageComponent Label="ID profile" HelperText="https://wappi.pro/dashboard" KeyStorage="GlobalStaticCloudStorageMetadata.WappiProfileId" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-text">
                            <a href="https://wappi.pro/">wappi.pro</a> configuration
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </MudTabPanel>
    <MudTabPanel Text="SnackBar stack">
        <SnackBarHistoryComponent />
    </MudTabPanel>
</MudTabs>