@page "/organizations/{UserId}"
@page "/organizations"

@using BlazorLib.Components.Commerce.Attendances
@using BlazorLib.Components.Commerce.Organizations
@using MudBlazor

@inherits BlazorBusyComponentBaseModel

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<AuthorizeView Roles="@GlobalStaticConstantsRoles.Roles.Admin">
    <Authorized>
        <MudTabs Elevation="2" Rounded ApplyEffectsToContainer PanelClass="pa-2">
            <MudTabPanel Text="Справочник">
                <OrganizationsTableComponent UserId="@UserId" />
                <div class="d-grid gap-2 mt-2">
                    <a class="btn btn-outline-success" href="/organizations/edit/0" role="button">Создать</a>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="Сотрудники">
                <OrganizationsExecutorsComponent />
            </MudTabPanel>
        </MudTabs>
    </Authorized>
    <NotAuthorized>
        <OrganizationsTableComponent UserId="@UserId" />
        <div class="d-grid gap-2 mt-2">
            <a class="btn btn-outline-success" href="/organizations/edit/0" role="button">Создать</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

