@using MudBlazor
@inherits RubricNodeBodyComponent

<span class="font-monospace"
      style="justify-self: start;"
      @onclick:stopPropagation="true">
    @Node.Text
    @if (IsBusyProgress)
    {
        <span class="loader ms-2"></span>
    }
</span>
<MudSpacer />
<div style="justify-self: end;"
     @onclick:stopPropagation="true">
    <MudIconButton Icon="@Icons.Custom.Uncategorized.Radioactive" aria-label="Radioactive" title="Свойства группы" Size="Size.Small" />
</div>