@using MudBlazor
@inherits RubricNodeBodyComponent

<span class="font-monospace" style="justify-self: start;">
    @Node.Text
    @if (IsBusyProgress)
    {
        <span class="loader ms-2"></span>
    }
</span>
<MudSpacer />
<div style="justify-self: end;">
    test 2
</div>