@using BlazorLib.Components.Constructor

@page "/questionnaire/session/{DocumentGuid:guid}"

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inherits BlazorBusyComponentBaseModel

<h5>Опрос/анкета</h5>

@if (IsBusyProgress || SessionDocument.Id < 1)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <DocumentClientViewComponent SessionOfDocumentData="SessionDocument"
                                 ReloadHandler="ReloadHandler" />
}