@using MudBlazor
@inherits FilesIndexingViewBase

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" />
}
else if (wordFile is null)
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>file not found.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            файл <cite title="файл не найден или нет доступа">отсутствует</cite>
        </figcaption>
    </figure>
}
else
{
    <div class="alert alert-primary" role="alert">
        @foreach (object _nodeElement in NodesList)
        {
            if (_nodeElement is TableWordIndexFileModelDB _tableNode)
            {
                <TableWordViewComponent TableData="@_tableNode.Data"/>
            }
            else if (_nodeElement is ParagraphWordIndexFileModelDB _parNode)
            {
                <p>@_parNode.Data</p>
            }
        }
    </div>
}