@using MudBlazor
@inherits FilesIndexingViewBase

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-3" />
}
else if (excelFile?.Sheets is null)
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>file not found.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            файл <cite title="файл не найден или нет доступа">отсутствует</cite>
        </figcaption>
    </figure>
}
else
{
    <div class="alert alert-primary" role="alert">
        <MudTabs Elevation="2" Rounded ApplyEffectsToContainer>
            @foreach (SheetExcelIndexFileModelDB _sheet in excelFile.Sheets)
            {
                <MudTabPanel Text="@_sheet.Title">
                    <SheetViewComponent CellsData="@_sheet.Cells" />
                </MudTabPanel>
            }
        </MudTabs>
    </div>
}