@page "/"

<h3>Trade</h3>
<div class="d-grid gap-2">
    <button @onclick="Click1" class="btn btn-primary" type="button">Button 1</button>
   @*  <button @onclick="Click2" class="btn btn-primary" type="button">Button 2</button> *@
</div>