<span class="border border-primary">
    <b>Переводы x @ConversionsDocuments.Count (@ConversionsDocuments.Sum(x => x.AmountPayment))</b>
</span>
@code {
    [Parameter, EditorRequired]
    public required List<ConversionOrderRetailLinkModelDB> ConversionsDocuments { get; set; }
}
