@using BlazorWebLib.Components.HelpDesk.issue

@inherits IssueWrapBaseModel

<style>
    .change-tg-notify i {
        cursor: pointer;
    }
</style>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">TelegramBot notifies</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Forwarding incoming messages</h6>

        @if (chatsTelegram is null || chatsTelegram.Count == 0)
        {
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>No related Telegram chats found.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    There are no users <cite>TelegramBot</cite>
                </figcaption>
            </figure>
        }
        else
        {
            <CascadingValue Value="chatsTelegram">
                <NotificationTelegramIssueConfigComponent KeyStorage="GlobalStaticCloudStorageMetadata.NotificationTelegramForIssueUser(Issue.AuthorIdentityUserId)"
                                                          Title="Group chat or personal"
                                                          Hint="Forwarding rule for messages from the client" />
            </CascadingValue>
        }
    </div>
</div>