@page "/take-photo"
@inject IJSRuntime js

@using BlazorLib.Components.ToolsApp
@using DbcLib

<img id="cleanupDiv" class="img-fluid" />
<button class="btn btn-primary" @onclick="IncrementCount">Take photo</button>