@foreach (PaymentOrderRetailLinkModelDB _op in PaymentsOrdersLinks)
{
    string _st = "secondary";
    if (_op.PaymentDocument?.StatusPayment == PaymentsRetailStatusesEnum.Paid)
        _st = "success";
    if (_op.PaymentDocument?.StatusPayment == PaymentsRetailStatusesEnum.Awaiting)
        _st = "primary";
    <span class="me-1 badge text-bg-@_st" title="@(_op.PaymentDocument!.StatusPayment.DescriptionInfo())">
        @($"{AllPaymentsTypes.FirstOrDefault(x => x.Id == _op.PaymentDocument?.TypePaymentId)?.Name}: {_op.AmountPayment}")
    </span>
}

@code {
    [Parameter, EditorRequired]
    public IEnumerable<PaymentOrderRetailLinkModelDB> PaymentsOrdersLinks { get; set; }

    [Parameter, EditorRequired]
    public List<RubricNestedModel> AllPaymentsTypes { get; set; }
}