@page "/retail/conversion-document/{ConversionId:int}"

@using BlazorLib.Components.Retail.Conversions

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<h4>Перевод/обмен # @ConversionId</h4>

<ConversionDocumentComponent ConversionDocumentId="ConversionId" />

@code {
    [Parameter]
    public int ConversionId { get; set; }
}