@page "/retail/delivery-document/{DeliveryDocumentId:int}"

@using BlazorLib.Components.Retail.Delivery

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<div style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
    <h4 style="justify-self: start;">Доставка/отгрузка # @DeliveryDocumentId</h4>
    <div style="justify-self: end;">
        <a class="btn btn-link bi bi-arrow-90deg-up"
           title="Перейти в журнал документов"
           href="/retail?tab=@nameof(DeliveriesDocumentsManageComponent)"
           role="button"> В журнал</a>
    </div>
</div>
<DeliveryDocumentComponent DeliveryDocumentId="DeliveryDocumentId" />

@code {
    [Parameter]
    public int DeliveryDocumentId { get; set; }
}
