@page "/retail/order-document/{OrderId:int}"
@using BlazorLib.Components.Retail.Orders

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<h5>Заказ (розница)</h5>
<OrderDocumentCardComponent OrderId="OrderId" />

@code {
    [Parameter]
    public int OrderId { get; set; }
}
