@page "/retail/order-document/{OrderId:int}"

@using BlazorLib.Components.Retail.Orders

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<div style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
    <h4 style="justify-self: start;">Заказ (розница) # @OrderId</h4>
    <div style="justify-self: end;">
        <a class="btn btn-link bi bi-arrow-90deg-up"
           title="Перейти в журнал документов"
           href="/retail?tab=@nameof(RetailOrdersListComponent)"
           role="button"> В журнал</a>
    </div>
</div>
<OrderDocumentCardComponent OrderId="OrderId" />

@code {
    [Parameter]
    public int OrderId { get; set; }
}