@page "/retail/order-document/{OrderId:int}"

@using BlazorLib.Components.Retail.Orders

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<h4>Заказ (розница) # @OrderId</h4>
<OrderDocumentCardComponent OrderId="OrderId" />

@code {
    [Parameter]
    public int OrderId { get; set; }
}