@page "/retail/wallet-card/{WalletId:int}"

@using BlazorLib.Components.Retail.Wallet

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize(Roles = $"{GlobalStaticConstantsRoles.Roles.Admin},{GlobalStaticConstantsRoles.Roles.Debug},{GlobalStaticConstantsRoles.Roles.RetailManage}")]

@if (WalletId > 0)
{
    <WalletCardComponent WalletId="WalletId" />
}
else
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Кошелёк с таким идентификатором не существует.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            ошибка
        </figcaption>
    </figure>
}

@code {
    [Parameter]
    public int WalletId { get; set; }
}
