@using MudBlazor
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom:0;">
        @foreach (KladrBaseElementModel _el in _items.Skip(SkipBreadcrumbs))
        {
            <li class="breadcrumb-item">
                @if (CodeKladrModel.Build(_el.Code).Level < KladrTypesObjectsEnum.House)
                {
                    <MudHighlighter Text="@_el.ToString()" HighlightedText="@HighlightedText" />
                }
                else
                {
                    <strong class="mx-1">@_el.Socr:</strong>
                    foreach (string house in _el.Name.Split(','))
                    {
                        <u @onclick="()=> SelectHouseHandle(house,_el)" style="cursor:pointer;" class="mx-1 link-success">@house</u>
                    }
                }
            </li>
        }
        @if (SelectionHandler is not null)
        {
            if (CurrentMd.Level < KladrTypesObjectsEnum.House)
            {
                <li @onclick="() => SelectionHandler(KladrRow)" class="breadcrumb-item active link-info link-info text-decoration-underline" aria-current="page" style="cursor:pointer;">
                    выбрать
                </li>
            }
            else
            {
                <li class="breadcrumb-item active" aria-current="page">
                    выберете из перечня
                </li>
            }
        }
    </ol>
</nav>