@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<MudDialog>
    <TitleContent>
        Поиск: <span class="font-monospace">@FindText</span>
    </TitleContent>
    <DialogContent>
        <KladrFindTableResultComponent FindText="@(FindText)" />
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>