@using MudBlazor

@inherits BlazorBusyComponentBaseModel

@if (string.IsNullOrWhiteSpace(FindText))
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Пустая стркоа поиска.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Укажите строку для <cite title="Для поиска требуется текст запроса">поиска</cite>
        </figcaption>
    </figure>
}
else
{
    <MudTable ServerData="ServerReload" Loading="IsBusyProgress" Dense="true" Hover="true">
        <ToolBarContent>
            <MudSelect T="string" Label="US States" MultiSelection="true" @bind-Value="_value" @bind-SelectedValues="_options">
                @foreach (var state in _states)
                {
                    <MudSelectItem T="string" Value="@state">@state</MudSelectItem>
                }
            </MudSelect>
        </ToolBarContent>
        <HeaderContent>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <KladrFindTableRowComponent KladrRow="context" HighlightedText="@FindText" />
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>Ни чего не найдено</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Обработка запроса...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}