@inherits BlazorBusyComponentBaseModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-7" />
}
<div class="card">
    <div class="card-body">
        @if (currentChat is not null)
        {
            <h5 class="card-title">@currentChat.ToString()</h5>
            @foreach (JoinUserChatViewModel uj in currentChat.UsersJoins!)
            {
                <UserBadgeComponent BadgeColor="@(uj.UserId == ChatId ? "light" : "primary")" JoinUserChat=uj />
            }
            <hr />
            <MessagesTableTelegramComponent ChatId=ChatId />
        }
    </div>
</div>