@inherits BlazorBusyComponentBaseModel

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate Class="my-7" />
}
<div class="card">
    <div class="card-body">
        @if (currentChat is not null)
        {
            <h5 class="card-title">@currentChat.FirstName</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">@currentChat.ToString()</h6>
            @foreach (JoinUserChatViewModel uj in currentChat.UsersJoins!)
            {
                <span class="badge text-bg-primary">@uj.User!.GetName()</span>
            }
            <hr/>
            <MessagesTableTelegramComponent ChatId=ChatId />
        }
    </div>
</div>