@page "/retail/conversion-document/{ConversionId:int}"

@using BlazorLib.Components.Retail.Conversions

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<div style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
    <h4 style="justify-self: start;">Перевод/обмен # @ConversionId</h4>
    <div style="justify-self: end;">
        <a class="btn btn-link bi bi-arrow-90deg-up"
           title="Перейти в журнал документов"
           href="/retail?tab=@nameof(ConversionsTableManageComponent)"
           role="button"> В журнал</a>
    </div>
</div>
<ConversionDocumentComponent ConversionDocumentId="ConversionId" />

@code {
    [Parameter]
    public int ConversionId { get; set; }
}