@page "/Account/ResetPasswordConfirmation"

<PageTitle>Confirm password reset</PageTitle>

<h1>Confirm password reset</h1>
<p>
    Your password has been reset. Please, <a href="Account/Login">click here to login</a>.
</p>