@inherits BlazorBusyComponentBaseModel

<h3>HaierProff</h3>

@if (HealthCheck?.Response is null)
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>HealthCheck не инициализирован.</p>
        </blockquote>
    </figure>
}
else if (HealthCheck.Response.Count == 0 || HealthCheck.Response.Sum(x => x.messages) == 0)
{
    <div class="d-grid gap-2">
        <button disabled="@IsBusyProgress" @onclick="Download" class="btn btn-primary" type="button">
            @if (IsBusyProgress)
            {
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            }
            <span class="@(IsBusyProgress ? "ms-2" : "")" role="status">@(IsBusyProgress ? "Загружается ..." : "Загрузить")</span>
        </button>
    </div>
}
else
{
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Выполнение команд: @HealthCheck.Response.Sum(x => x.messages)</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            дождитесь окончания выполнения задачи
        </figcaption>
    </figure>
    <LogsComponent HidePanels ApplicationsFilterSet="ApplicationsFilterSet" />
}